{% extends "base_temp.html" %}


<!DOCTYPE html>

<html>


{% block title %}Home Page{% endblock title %}



{% block content %}

<h1>Welcome!</h1>
<HR>
<h3>Blog</h3>
<p>A place to jot down notes, reminders, random thoughts, etc...</p>
<h3>Pictures</h3>
<p>A Place for Pictures.  A Place to keep your favorits, organize for specific purposes, etc...</p>
<HR>
<h1>Future Apps</h1>
<h3>Testing for Workout Tracker/Retriever</h3>
<h3></h3>
<h3></h3>
<h3></h3>
<h3></h3>
<h3></h3>

{% endblock content %}

</html>
